a {
  transition: 0.2s ease;
}

/* Container Changes */
.container.container-wide {
  width: 100%;
  padding: 0 2em;
}

/* Text Alterations */
h1 {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  font-weight: 200;
  max-width: 400px;
  padding-bottom: 40px;
}

h2 {
  margin-top: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  max-width: 500px;
}

.brand-logo {
  font-family: 'Poiret One';
  font-size: 35px;
  color: rgba(255, 255, 255, 0.8);
}

.brand-logo .subtitle {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.full-width {
  max-width: 100%;
}

.text-thin {
  font-weight: 300;
}

.text-centered {
  text-align: center;
}

/* Hero */
.hero {
  background-size: cover;
  background: #DC2424;
  background: -webkit-linear-gradient(to right top, #DC2424 , #4A569D);
  background: linear-gradient(to right top, #DC2424 , #4A569D);
  position: relative;
  height: 100vh;
  padding-top: 190px;
  color: rgba(255, 255, 255, 0.8);
}

/* Navbar */
nav.nav-background {
  background: #1F1C2C;
  background: -webkit-linear-gradient(to left, #1F1C2C , #928DAB);
  background: linear-gradient(to left, #1F1C2C , #928DAB);
}

nav ul a {
  color: rgba(255, 255, 255, 0.8);
}

/* Footer */
footer.page-footer .footer-copyright {
  height: 200px;
  line-height: 200px;
}

footer.page-footer {
  padding-top: 0;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526 , #414345);
  background: linear-gradient(to left, #232526 , #414345);
}

.footer-copyright div a {
  text-decoration: none;
  color: #fff;
}

.footer-copyright div a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
