a {
  transition: 0.2s ease;
}

/* Text Alterations */
.text-thin {
  font-weight: 300;
}

.text-centered {
  text-align: center;
}

/* Footer */
footer.page-footer .footer-copyright {
  height: 200px;
  line-height: 200px;
}

footer.page-footer {
  padding-top: 0;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-copyright div a {
  text-decoration: none;
  color: #fff;
}

.footer-copyright div a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
